nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: xx-small;
}
.first-page{
    background-image: url(./images/Object.png);
    background-size: cover;  
    background-position: center;
    color: white;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
h1{
    font-size: 40;
}
.learn-from-pros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.pros{
    display: flex;
    font-size:xx-small;
    paddin;
    margin-left: 5%;
    margin-right: 5%;
}
.horizontal-stack{
   display: flex;
    gap: 20px;
    font-size: smaller;
}
.tutorial-card {
    position: relative;
    display: inline-block;
    margin: 20px;
  }

  .tutorial-card img {
    display: block;
  }

  .tutorial-card .play-btn {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50 -50%);
    width: 50px;
    height: 50px;
    pointer-events: none;
  }