body{
    color: white;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15%;
    font-size: xx-small;
}
.first-page{
    background-image: url(./images/Object.png);
    background-size: cover;  
    background-position: center;
    color: white;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
h1{
    font-size: 40;
}
.register{
    background-color: purple;
    width: 200px;
    height:50px;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    
}
.learn-from-pros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.pros{
    display: flex;
    font-size:xx-small;
    gap: 100px;
}
.bruce{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.horizontal-stack{
   display: flex;
    gap: 20px;
    font-size: smaller;
}
.tutorial-card {
    position: relative;
    display: inline-block;
    margin: 20px;
  }

  .tutorial-card img {
    display: block;
  }

  .tutorial-card .play-btn {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50 -50%);
    width: 50px;
    height: 50px;
    pointer-events: none;
  }