.tutorial-card {
    position: relative;
    display: inline-block;
    margin: 20px;
  }

  .tutorial-card img {
    display: block;
  }

  .tutorial-card .play-btn {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50 -50%);
    width: 50px;
    height: 50px;
    pointer-events: none;
  }